<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938951179610-6spblfi5h130n7e7mauesohmoakn00uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938951179610-6spblfi5h130n7e7mauesohmoakn00uv</string>
	<key>API_KEY</key>
	<string>AIzaSyDgWM-bIKCRs7yT03ADLRXMXjuejGcluAU</string>
	<key>GCM_SENDER_ID</key>
	<string>938951179610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pea.app</string>
	<key>PROJECT_ID</key>
	<string>pea-app-d41db</string>
	<key>STORAGE_BUCKET</key>
	<string>pea-app-d41db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938951179610:ios:116f61ebd578f196bec763</string>
	<key>DATABASE_URL</key>
	<string>https://pea-app-d41db-default-rtdb.firebaseio.com</string>
</dict>
</plist>